
/* Media Queries */
$mq-mobile-portrait	 : 320px !default;
$mq-mobile-landscape : 480px !default;
$mq-tablet-portrait	 : 768px !default;
$mq-tablet-landscape : 1024px !default;
$mq-desktop	: 1382px !default;

/* Colors */
$gray1: #D7D7D7;
$gray2: #D3D2D2;
$gray3: #666;
$gray4: #F3F3F3;
$gray5: #333;
$red1: #C00;
$red2: #DF6060;
$color2: #DDD;
$white: #FFF;
$black: #000;
$gray6: #F6F5F5;
$blue1: #06C;

/* Buttons */

.small-button-group {
  margin: auto;

  button.btn {
    background-color: $gray4;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    margin: 10px 2px;
    padding: 5px 0;
    width: 160px;
    color: $gray3;
    outline: none;
  }
}

.large-button-group {
  button.btn {
    background: $red1; /* Old browsers */
    background: -moz-linear-gradient(top, $red2 0%, $red1 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $red2 0%, $red1 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $red2 0%, $red1 40%); 
    -webkit-box-shadow: -1px 9px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 5px -10px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border: none;
    color: $white;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 0 0;
    padding: 5px 0;
    text-transform: uppercase;
    width: 240px;
  }

  button.btn:focus {
    color: $white;
  }

  button.black {
    background: -moz-linear-gradient(top, $gray3 0%, $black 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gray3 0%, $black 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gray3 0%, $black 40%);
  }
}

/* Carousel */

.product-carousel {
  margin: auto;
}

.carousel-container {
  margin: auto;
  text-align: center;

  .display-img-wrapper {
    overflow: hidden;
    margin: auto;

    img {
      transition: transform 0.5s ease-out;
      cursor: zoom-in;
    }
  }

  .view-larger {
    margin: 30px auto 10px;
    font-size: 14px;
    color: $gray3;

    .view-larger-text {
      padding-top: 5px;
      padding-left: 34px;
      background: url('../svg/magnify.svg') no-repeat;
      display: inline-block;
      height: 30px;
    }
  }

  .carousel-button-container {
    margin: 20px auto;

    .slide-arrow {
      background: url('../svg/arrow.svg') no-repeat;
      border: none;
      display: inline-block;
      height: 20px;
      width: 20px;
    }

    .slide-right {
      transform: rotate(180deg);
    }

    img {
      margin: 0 10px;
    }

    .active-image {
      border: 2px solid #999;
      border-radius: 5px;
    }
  }
}

.image-loading {
  opacity: 0;
  transition: opacity 0.3s;
}

.image-loaded {
  opacity: 1;
}

